<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capture the Moment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/back.css') }}">
</head>

<body>

<br>
<div class="container">
  <h1>Capture the love</h1>
  <h2>calling all photographers!</h2>
  <p>whether it's a candid shot or a silly pose, we want to see it all! Upload your best snapshots here and be a part of our forever memories!</p>
  


    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <span>August 11, 2024</span>
    
  </div>
</body>
</html>
